
<form action="/sh" method="POST">
  <input placeholder="Divulgar alguem" name="nickname">
  <button type="submit">Divulgar</button>
</form>

<form action="/divulgar-discord" method="POST">
  <button type="submit">Divulgar discord</button>
</form>


